.header {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 12px 24px 0px 24px;
    border: solid 3px #444652;
    background-color: #111217;
}

.imageA {
    width: 140px;
    height: 29px;
    flex-grow: 0;
}

.frame1 {
    flex-grow: 1;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.frame3 {
    cursor: pointer;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

}

.bridgeTokens {
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: active;

    &:hover {
        color: #57c6e4;
    }
}

.frame7 {
    cursor: pointer;
    height: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;

}

.verifyContract {
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;

    &:hover {
        color: #57c6e4;
    }
}

.frame5 {
    cursor: pointer;
    height: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
}


.docs {
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;

    &:hover {
        color: #57c6e4;
    }
}