.bridgeDirectionEthStarknet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
    background-color: #1a1f2e;
}

.frame11143 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 72px;
    margin: 37px 152px 0;
    padding: 0;
}

.frame11142 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0;
}