.frame11143 {
    height: 272px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #444652;
    background-color: #1a1f2e;
}

.walletConnectButton {
    width: 117px;
    align-self: stretch;
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px #6b7082;
}

.image6 {
    width: 24px;
    height: 15.5px;
    flex-grow: 0;
}

.login {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    object-fit: contain;
}

.connect {
    width: 61px;
    height: 26px;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}