.ethereum {
    height: 26px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.frame11141 {
    height: 100%;
    width: 100%;
}

.frame2 {
    height: 22px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
}

.emAddress {
    height: 22px;
    flex-grow: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}

.networkMainnet {
    height: 20px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.frame11139 {
    height: 64px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4px;
    padding: 8px 0;
    border: solid 1px #212636;
}

.frame11110 {
    height: 46px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;

}



.frame11142 {
    height: 108px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.frame11156 {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    padding: 4px 0 4.5px;
}


.frame11146 {
    height: 46px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0;
    border-radius: 16px;
}

.frame11144 {
    height: 44px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 0;
}

.image12 {
    width: 24px;
    height: 24px;
    flex-grow: 0;
}

.ethAddress {
    width: 181px;
    height: 22px;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #6b7082;
}

.connect {
    width: 61px;
    height: 26px;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.eth {
    height: 22px;
    flex-grow: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #6b7082;
}