.frame7 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 24px;
    border-radius: 8px;
    border: solid 1px #444652;
    background-color: #1a1f2e;
}

.frame11142 {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0 24px;
}

.frame11142bis {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #57c6e4;
    background-color: #212636;
}

.image12 {
    width: 24px;
    height: 24px;
    flex-grow: 0;
}

.erc721 {
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.group1 {
    height: 26px;
    flex-grow: 1;
}

.header1 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0;

}

.endblock1 {
    height: 32px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0;
    background-color: #1a1f2e;
}

.subblock3 {
    height: 22px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0 8px;
}

.subText4 {

    height: 22px;
    cursor: pointer;
    flex-grow: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #8edcec;

}

.subText3 {

    height: 20px;
    align-self: stretch;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #6b7082;
}

.subText2 {

    width: 205px;
    height: 22px;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #6b7082;
}

.input1 {
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    border: solid 1px #444652;
    background-color: #191c26;
    color: #fff;

    ::placeholder {
        background-color: #191c26;
    }
}

.subBlock1 {
    height: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}


.bordSub {
    flex-grow: 1;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: #444652;
}

.checkbox:checked:before {
    border: #1C4CBD;
    background-color: #1C4CBD;
}

.bloc2 {
    height: 172px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
    background-color: #1a1f2e;
}

.button2 {
    background-color: #1a1f2e;
    cursor: pointer;
    color: #57c6e4;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}

.button3 {
    width: 137px;
    height: 42px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #fff;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #57c6e4;
}

.bottom1 {
    height: 42px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    padding: 0;
}

.line4 {
    height: 1px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #444652
}

.bloc3 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
}

.text2 {
    height: 26px;
    flex-grow: 1;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.text1 {
    width: 128px;
    height: 26px;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.button1 {
    width: 140px;
    height: 32px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 12px;
    border-radius: 100px;
    background-color: #57c6e4;
    color: #fff;
    font-family: Rajdhani;
}

.bloc1 {
    height: 122px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
}

.subText {
    width: 223.9px;
    height: 20px;
    flex-grow: 0;
    margin: 3px 0 3px 4.1px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: #444652;

}

.text {
    width: 223.9px;
    height: 26px;
    flex-grow: 0;
    margin: 0 4.1px 0 0;
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

/* CHECKBOX CUSTOMISATION */


.checkboxStyle {
    display: flex;
    cursor: pointer;
    user-select: none;
}

.checkboxStyle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 2px;
    height: 18px;
    width: 18px;
    background-color: #191c26;
    border: solid 2px #444652;
}


/* When the checkbox is checked, add a blue background */
.checkboxStyle input:checked~.checkmark {
    background-color: #57c6e4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.checkboxStyle input:checked~.checkmark:after {
    display: flex;
}

/* Style the checkmark/indicator */
.checkboxStyle .checkmark:after {
    margin-left: 4px;
    width: 6px;
    height: 11px;
    border: solid #444652;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}