.frame11148 {
    height: 104px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #57c6e4;
    background-color: #212636;
}

.frame11143 {
    height: 68px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;

}

.frame11142 {
    height: 68px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.image12 {
    width: 24px;
    height: 24px;
    flex-grow: 0;
}

.ethereum {
    width: 63px;
    height: 24px;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.image13 {
    width: 24px;
    height: 24px;
    flex-grow: 0;
}


.fiArrowRight {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    object-fit: contain;
}

.starknet {
    width: 58px;
    height: 24px;
    flex-grow: 0;
    font-family: Rajdhani;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.walletConnect {
    width: 87px;
    height: 20px;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #6b7082;
}

.frame11144 {
    height: 68px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
}

.argentXorBraavos {
    height: 20px;
    flex-grow: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #6b7082;
}